.headerContainer{
    background-color: bisque;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.elements{
    display: flex;
    gap: 10px;
}
.elements div{
    background-color: aliceblue;
    color: blueviolet;
    padding: 10px ;
    font-weight: bold;
}
.logo{
    font-size: 32px;
    background-color: aliceblue;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: red;
    font-weight: bold;

}